{% extends 'base.html.twig' %}

{% block title %}AssetMapper Test{% endblock %}

{% block body %}
<div style="text-align: center; padding: 50px;">
    <h1>Symfony AssetMapper Test</h1>
    <p>This page demonstrates that AssetMapper is working correctly.</p>
    <p>Check the browser console to see the JavaScript message from AssetMapper!</p>
</div>
{% endblock %}
